body {
  background-color: #dcdddc;
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

.app {
  text-align: center;
  margin: 2rem;

  h1 {
    margin-top: 50px;
    margin-bottom: 1rem;
    font-family: "Segoe UI", Tahoma, sans-serif;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

    input {
      padding: 0.5rem;
      margin-right: 1rem;
      border: 1px solid #ccc;
    }

    button {
      padding: 0.5rem 1rem;
      background-color: #9867d3;
      color: #fff;
      border: none;
      cursor: pointer;
      border-radius: 10px;
    }
  }

  .user-card {
    border: 1px solid #ccc;
    padding: 1rem;
    max-width: 300px;
    margin: 0 auto;
    background-color: #9867d3;
    color: white;

    img {
      max-width: 70%;
      border-radius: 50%;
      margin-bottom: 1rem;
    }

    h3 {
      margin: 0;
    }

    p {
      margin: 0.5rem 0;
      font-family: "Segoe UI", Tahoma, sans-serif;
    }
  }
}
